@import "./App.css";

nav {
  width: 88vw;
  margin: auto;
  z-index: 12;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  border-bottom: 1px solid black;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .left img {
  width: 60px;
  height: 60px;
}
